@use "../../styles/variables" as *;
@use "../../styles/mixins";

.slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixins.paddingSides;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;

  &__info {
    padding: 8rem 0;
    max-width: 40rem;
    z-index: 1;

    &-header {
      font-size: 3rem;
    }

    &-text {
      font-size: 1.5rem;
    }

    &-header,
    &-text {
      padding-bottom: $standard;
      color: white;
    }
  }

  &__overlay {
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      // rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0) 100%
    );
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .slide {
    justify-content: flex-start;
  }
}
