@use "../../styles/variables" as *;
@use "../../styles/mixins";

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  background-size: cover;
  background-position: center;

  &-0 {
    background-image: url("../../assets/images/office1.jpg");
  }
  &-1 {
    background-image: url("../../assets/images/model1.jpg");
  }
}

.slide-info {
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  padding: 8rem 0;

  &__header {
    font-size: 3rem;
  }

  &__text {
    font-size: 1.5rem;
  }

  &__header,
  &__text {
    padding-bottom: $standard;
    color: white;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .swiper-slide {
    @include mixins.paddingSides;
    justify-content: flex-start;
  }

  .slide-info {
    padding: 10rem 0;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .slide-info {
    padding: 12rem 0;
  }

  .slide {
    &-1 {
      background-position: top;
    }
  }
}
