@use "../../styles/variables" as *;
@use "../../styles/mixins";

.contact-banner {
  padding: $standard;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc($standard / 4);

  &__heading {
    font-weight: 300;
    font-size: $font-size-medium;
  }
  &__subheading {
    font-weight: 400;
  }
  &__text {
    margin: calc($standard / 2) 0;
  }
  &__bold {
    font-weight: 700;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .contact-banner {
    @include mixins.paddingSides;

    &__text {
      column-count: 3;
      column-gap: 2rem;
    }
  }
}
