@use "../../styles/variables" as *;

.button {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2.25rem;
  font-weight: bold;
  width: 100%;
  text-decoration: none;
  display: block;

  &--primary {
    color: $colour-white;
    background-color: $colour-blue;
  }

  &--secondary {
    color: $colour-blue;
    background-color: $colour-light-blue;
  }

  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .button {
    width: fit-content;
  }
}
