@use "../../styles/variables" as *;

.button {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2.25rem;
  font-weight: bold;

  &--primary {
    color: $colour-white;
    background-color: $colour-blue;
  }

  &--secondary {
    color: $colour-blue;
    background-color: $colour-light-blue;
  }
}
