@use "../../styles/variables" as *;
@use "../../styles/mixins";

.learn-banner {
  width: 100%;
  padding: $standard;
  display: flex;
  flex-direction: column;
  gap: $standard;
  align-items: center;
  justify-content: center;

  &__image {
    width: 100%;
    border-radius: 0.5rem;
    margin: $standard 0;
    max-width: $tablet-breakpoint;
    align-self: center;
  }

  &__container {
    &-heading {
      font-weight: 400;
      font-size: $font-size-medium;
    }

    &-text {
      padding: 1em 0;
    }

    &-list {
      margin-block-end: 1em;
      padding-inline-start: 20px;
      &-item {
        margin-block-start: 0.75em;
        font-weight: bold;
      }
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .learn-banner {
    flex-direction: row-reverse;
    justify-content: space-between;
    @include mixins.paddingSides;

    & > * {
      width: 50%;
    }
  }
}
