@use "./variables" as *;

* {
  font-family: $font-primary;
  font-size: $font-size-default;
  color: $colour-dark-grey;
  font-weight: 300;
}

h1,
legend {
  font-size: $font-size-large;
  font-weight: 300;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

p {
  line-height: 1.5;
}
