@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

// fonts
$font-primary: "Lato", sans-serif;

// font sizes
$font-size-default: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;

// colours
$colour-light-grey: #e6e6e6;
$colour-dark-grey: #323232;
$colour-light-blue: #eff7ff;
$colour-blue: #2e7bb9;
$colour-light-green: #e9f4da;
$colour-dark-green: #8ec73d;
$colour-white: #fff;

// paddings / margins
$padding: 4rem;
$padding-large: 10rem;
$standard: 2rem;
$gap: 1rem;

// misc
$footer-height: 3rem;
