@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

// fonts
$font-primary: "Lato", sans-serif;

// font sizes
$font-size-default: 0.75rem;

// colours
$colour-dark-grey: #323232;
$colour-light-blue: #eff7ff;
$colour-blue: #2e7bb9;
