@use "../../styles/variables" as *;

@media screen and (min-width: $tablet-breakpoint) {
  .contact-container {
    position: relative;
    padding: 0 calc($standard / 2);
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../assets/images/contact.png");
      background-repeat: no-repeat;
      background-position: left;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transform: translateX(50%);
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .contact-container {
    padding: 0 $standard;
  }
}
