@use "../../styles/variables" as *;
@use "../../styles/mixins";

.log-in-banner {
  width: 100%;
  padding: $standard;
  background-image: url("../../assets/images/model2.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;

  &__container {
    background-color: rgba($colour-dark-grey, 0.3);
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: $colour-white;
    max-width: 500px;
    padding: $standard;

    &-heading,
    &-text {
      color: inherit;
      // line-height: 1.5;
    }

    &-heading {
      font-weight: 400;
      font-size: $font-size-medium;
    }

    &-text {
      padding: 1em 0;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .log-in-banner {
    justify-content: flex-start;
    @include mixins.paddingSides;
  }
}
