@use "../../styles/variables" as *;
@use "../../styles/mixins";

.form {
  padding: $standard;

  .field {
    @include mixins.flexColumn;
    border: none;

    &__label {
      @include mixins.formLabel;
    }

    &__text-area {
      @include mixins.formInput;
    }

    &__checkbox {
      display: flex;
      align-items: center;
      gap: calc($gap / 2);
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .form {
    width: 50%;
  }
}
