@use "../../styles/variables" as *;
@use "../../styles/mixins";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $colour-light-grey;
  padding: 1rem 0;

  &__logo {
    width: 100%;
    max-width: 200px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .header {
    justify-content: space-between;
    @include mixins.paddingSides;
  }
}
