@use "../../styles/variables" as *;

.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid $colour-light-grey;
  padding: 1rem 0;
}

@media screen and (min-width: $tablet-breakpoint) {
  .footer {
    justify-content: flex-end;
    padding-right: 2rem;
  }
}
