@use "../../styles/variables" as *;
@use "../../styles/mixins";

.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid $colour-light-grey;
  padding: 1rem 0;
  background-color: $colour-white;
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media screen and (min-width: $tablet-breakpoint) {
  .footer {
    justify-content: flex-end;
    @include mixins.paddingSides;
  }
}
